@using JJsites.DomainModels
@using JJsites.WebPc.Areas.AdminManager.Controllers
@using JJsoft.Infrastructure.Extensions
@model JJsites.ViewModels.BudgetTargetEditViewModel
@{
    Layout = null;
    var data = Model.BudgetTarget;
    var basicDataBaseModels = Model.BasicDataBaseModels;
    var isAdd = data.Id <= 0;
    var isLock = data.IsLocked;
    var classHidden = isLock ? "hidden" : "";
    var checkedStr = data.IsBeginningOfYear ? "checked" : "";
    const string basicDataControllerName = "BasicData";
    const string getTreeBasicDataActionName = nameof(BasicDataController.GetTreeBasicData);
}

<link href="~/Lib/JqueryEasyui/1.5.1/themes/default/easyui.css" rel="stylesheet" />
<link href="~/Areas/AdminManager/Content/budgetTarget-edit.css" rel="stylesheet" />
<link href="~/Lib/iCheck/1.0.2/skins/all.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12">
            <form class="form-horizontal form-edit" role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>签发文号：</label>
                            <div class="col-sm-8">
                                <input name="DocumentNumber" type="text" class="form-control input-sm first" value="@data.DocumentNumber" required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">是否年初预算：</label>
                            <div class="col-sm-8">
                                <input name="IsBeginningOfYear" id="IsBeginningOfYear" type="checkbox" @checkedStr value="@data.IsBeginningOfYear" /><label for="IsBeginningOfYear" class="redTipsForForm">空格选中、取消</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>预算单位：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName,basicDataControllerName, new {ModelTypeName =nameof(BudgetUnit)})" style="width: 250px;"
                                       value="@(data.BudgetUnit != null ? data.BudgetUnit.CustomedNumberAndName : "")" />
                                <input class="hidden-id" name="BudgetUnitId" type="hidden" value="@(data.BudgetUnit?.Id ?? 0)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>功能科目：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName,basicDataControllerName, new {ModelTypeName =nameof(FunctionSubject)})" style="width: 250px;"
                                       value="@(data.FunctionSubject != null ? data.FunctionSubject.CustomedNumberAndName : "")" />
                                <input class="hidden-id" name="FunctionSubjectId" type="hidden" value="@(data.FunctionSubject?.Id ?? 0)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">发文时间：</label>
                            <div class="col-sm-8">
                                <input name="OnPosted" type="date" class="form-control input-sm" value="@data.OnPosted.ToString("yyyy-MM-dd")" style="width: 250px;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>单位归口科室：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName, basicDataControllerName,new {ModelTypeName =nameof(Department)})" style="width: 250px;"
                                       value="@(isAdd ? basicDataBaseModels[nameof(Department)].CustomedNumberAndName : data.BusinessDepartment?.CustomedNumberAndName)" />
                                <input class="hidden-id" name="BusinessDepartmentId" type="hidden" value="@(isAdd ? basicDataBaseModels[nameof(Department)].Id : data.BusinessDepartment?.Id)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>金额：</label>
                            <div class="col-sm-8">
                                <input name="TotalAmount" id="TotalAmount" type="text" class="form-control input-sm" value="@data.TotalAmount" checkAmount="true" required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">经费来源：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName,basicDataControllerName, new {ModelTypeName =nameof(FundingSources)})" style="width: 250px;"
                                       value="@(isAdd ? basicDataBaseModels[nameof(FundingSources)].CustomedNumberAndName : data.FundingSources?.CustomedNumberAndName )" />
                                <input class="hidden-id" name="FundingSourcesId" type="hidden" value="@(isAdd ? basicDataBaseModels[nameof(FundingSources)].Id : data.FundingSources?.Id)" />
                            </div>
                        </div>
                    </div>
                </div>
                @if (!isAdd)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">已拨付：</label>
                                <div class="col-sm-8">
                                    <input type="number" id="TotalAppropriated" readonly="readonly" class="form-control input-sm" value="@data.TotalAppropriated" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">余额：</label>
                                <div class="col-sm-8">
                                    <input type="number" id="Balance" readonly="readonly" class="form-control input-sm" value="@data.Balance" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="redRequired">*</span>指标摘要：</label>
                    <div class="col-sm-10">
                        <textarea rows="3" name="Summary" class="form-control input-sm" required="true">@data.Summary</textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">上级专款文号：</label>
                            <div class="col-sm-8">
                                <input name="HigherSpecialFundDocumentNumber" type="text" class="form-control input-sm" value="@data.HigherSpecialFundDocumentNumber" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>资金性质：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName,basicDataControllerName, new {ModelTypeName =nameof(MoneyNature)})" style="width: 250px;"
                                       value="@(isAdd ? basicDataBaseModels[nameof(MoneyNature)].CustomedNumberAndName : data.MoneyNature?.CustomedNumberAndName )" />
                                <input class="hidden-id" name="MoneyNatureId" type="hidden" value="@(isAdd ? basicDataBaseModels[nameof(MoneyNature)].Id : data.MoneyNature?.Id)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>预算来源：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName,basicDataControllerName, new {ModelTypeName =nameof(BudgetSource)})" style="width: 250px;"
                                       value="@(isAdd ? basicDataBaseModels[nameof(BudgetSource)].CustomedNumberAndName : data.BudgetSource?.CustomedNumberAndName )" />
                                <input class="hidden-id" name="BudgetSourceId" type="hidden" value="@(isAdd ? basicDataBaseModels[nameof(BudgetSource)].Id : data.BudgetSource?.Id)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>项目分类：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName,basicDataControllerName, new {ModelTypeName =nameof(ProjectCategory)})" style="width: 250px;"
                                       value="@(isAdd ? basicDataBaseModels[nameof(ProjectCategory)].CustomedNumberAndName : data.ProjectCategory?.CustomedNumberAndName )" />
                                <input class="hidden-id" name="ProjectCategoryId" type="hidden" value="@(isAdd ? basicDataBaseModels[nameof(ProjectCategory)].Id : data.ProjectCategory?.Id)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>采购标志：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName,basicDataControllerName, new {ModelTypeName =nameof(PurchaseMark)})" style="width: 250px;"
                                       value="@(isAdd ? basicDataBaseModels[nameof(PurchaseMark)].CustomedNumberAndName : data.PurchaseMark?.CustomedNumberAndName )" />
                                <input class="hidden-id" name="PurchaseMarkId" type="hidden" value="@(isAdd ? basicDataBaseModels[nameof(PurchaseMark)].Id : data.PurchaseMark?.Id)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>基建标志：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName, basicDataControllerName,new {ModelTypeName =nameof(InfrastructureMark)})" style="width: 250px;"
                                       value="@(isAdd ? basicDataBaseModels[nameof(InfrastructureMark)].CustomedNumberAndName : data.InfrastructureMark?.CustomedNumberAndName )" />
                                <input class="hidden-id" name="InfrastructureMarkId" type="hidden" value="@(isAdd ? basicDataBaseModels[nameof(InfrastructureMark)].Id : data.InfrastructureMark?.Id)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>收支管理：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName,basicDataControllerName, new {ModelTypeName =nameof(RevenueManagement)})" style="width: 250px;"
                                       value="@(isAdd ? basicDataBaseModels[nameof(RevenueManagement)].CustomedNumberAndName : data.RevenueManagement?.CustomedNumberAndName )" />
                                <input class="hidden-id" name="RevenueManagementId" type="hidden" value="@(isAdd ? basicDataBaseModels[nameof(RevenueManagement)].Id : data.RevenueManagement?.Id)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>以收定支标志：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName,basicDataControllerName, new {ModelTypeName =nameof(IncomePaymentMark)})" style="width: 250px;"
                                       value="@(isAdd ? basicDataBaseModels[nameof(IncomePaymentMark)].CustomedNumberAndName : data.IncomePaymentMark?.CustomedNumberAndName )" />
                                <input class="hidden-id" name="IncomePaymentMarkId" type="hidden" value="@(isAdd ? basicDataBaseModels[nameof(IncomePaymentMark)].Id : data.IncomePaymentMark?.Id)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>指标管理科室：</label>
                            <div class="col-sm-8">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName,basicDataControllerName, new {ModelTypeName = nameof(Department)})" style="width: 250px;"
                                       value="@(isAdd ? basicDataBaseModels[nameof(Department)].CustomedNumberAndName : data.TargetManageDepartment?.CustomedNumberAndName )" />
                                <input class="hidden-id" name="TargetManageDepartmentId" type="hidden" value="@(isAdd ? basicDataBaseModels[nameof(Department)].Id : data.TargetManageDepartment?.Id)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">经济科目：</label>
                            <div class="col-sm-8 economicsSubject">
                                <input class="easyui-combotree" data-url="@Url.Action(getTreeBasicDataActionName, basicDataControllerName, new {ModelTypeName = nameof(EconomicsSubject)})" style="width: 250px;"
                                       value="@(data.EconomicsSubject != null ? data.EconomicsSubject.CustomedNumberAndName : "")" />
                                <input class="hidden-id" name="EconomicsSubjectId" type="hidden" value="@(data.EconomicsSubject?.Id ?? 0)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">单位性质：</label>
                            <div class="col-sm-8 mapOption">
                                <input class="easyui-combotree" data-url="@Url.Action(nameof(BudgetUnitCategoryController.GetBudgetUnitCategories),"BudgetUnitCategory")" style="width: 250px;"
                                       value="@data.BudgetUnitCategory.GetDescription()"/>
                                <input class="hidden-id" name="BudgetUnitCategory" type="hidden" value="@((int)data.BudgetUnitCategory)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">政府经济科目：</label>
                            <div class="col-sm-8 mapReslut">
                                <input class="easyui-combotree countryEconomicsSubjectString" data-url="@Url.Action(getTreeBasicDataActionName, basicDataControllerName, new {ModelTypeName = nameof(CountryEconomicsSubject)})" value="@(data.CountryEconomicsSubject?.CustomedNumberAndName ?? "")" style="width: 250px;" />
                                <input name="CountryEconomicsSubjectId" data-url="@Url.Action(nameof(CountryEconomicsSubjectController.GetCountryEconomicsSubject),nameof(CountryEconomicsSubject))" type="hidden" class="hidden-id" value="@(data.CountryEconomicsSubject?.Id ?? 0)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="tips" style="color: red; font-size: 12px; margin-left: 30px;"></p>
                    </div>

                </div>
                <div class="form-group">
                    <div class="hidden">
                        <input name="Id" type="hidden" value="@data.Id" />
                    </div>
                    <div class="col-sm-12 text-center buttons">
                        @if (isAdd)
                        {
                            <button type="button" class="btn btn-success u-btn" id="btnSaveContinue" data-url='@Url.Action(nameof(BudgetTargetController.Save))'>
                                <i class="fa fa-save" aria-hidden="true"></i>
                                保存并新增
                            </button>
                        }
                        <button type="button" class="btn btn-success u-btn @classHidden" id="btnSave" data-url="@Url.Action(nameof(BudgetTargetController.Save))">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            保存
                        </button>
                        @if (isLock)
                        {
                            <button type="button" class="btn btn-warning u-btn" id="btnUnlock" data-url="@Url.Action(nameof(BudgetTargetController.Unlock),new { Id=data.Id})">
                                >
                                <i class="fa fa-save" aria-hidden="true"></i>
                                解锁
                            </button>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/Lib/iCheck/1.0.2/icheck.min.js"></script>
<script src="~/Lib/jquery-easyui-combotree-extend.js"></script>
<script src="~/Areas/AdminManager/Scripts/budgetTarget-edit.js"></script>