@using Models
@using Common
@model CustomerCategory
@{
    Layout = null;
    var category = Model ?? new CustomerCategory();
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12">
            <form class="form-horizontal form-edit" role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span class="redRequired">*</span>名称：</label>
                            <div class="col-sm-8">
                                <input name="Name" type="text" class="form-control input-sm first" value="@category.Name" required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">自定义顺序：</label>
                            <div class="col-sm-8">
                                <input name="NickName" type="number" class="form-control input-sm first" value="@category.CustomOrder" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">描述：</label>
                    <div class="col-sm-10">
                        <textarea rows="3" name="Description" class="form-control input-sm">@category.Description</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="hidden">
                        <input name="UpdateId" type="hidden" value="@category.Id" />
                    </div>
                    <div class="col-sm-12 text-center buttons">
                        <button type="button" class="btn btn-success u-btn" id="btnSave" data-url="@Url.Action("Save")">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            保存
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Lib/select2/4.0.3/js/select2.min.js"></script>
<script src="~/Lib/select2/4.0.3/js/select2.full.min.js"></script>
<script src="~/Areas/SystemManage/Scripts/category-edit.js"></script>
