@using JJsites.DomainModels
@using JJsites.ViewModels
@model BasicDataEditViewModel
@{
    ViewBag.Title = "Edit";

    Layout = null;
    var viewModel = Model ?? new BasicDataEditViewModel();
    var data = viewModel.BasicData ?? new BasicDataBaseModel();
    var checkedStr = data.IsDefaultByAdd ? "checked" : "";
    var isAdd = data.Id <= 0;
}
<link href="~/Lib/iCheck/1.0.2/skins/all.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span class="redRequired">*</span>编号：
                    </label>
                    <div class="col-sm-10">
                        @if (isAdd)
                        {
                            <input name="CustomedNumber" type="text" class="form-control input-sm first" value="@data.CustomedNumber" required="true" />
                        }
                        else
                        {
                            <input name="CustomedNumber" type="text" class="form-control input-sm" value="@data.CustomedNumber" readonly="readonly" required="true" />
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span class="redRequired">*</span>名称：
                    </label>
                    <div class="col-sm-10">
                        @if (isAdd)
                        {
                            <input name="Name" type="text" class="form-control input-sm" value="@data.Name" required="true" />
                        }
                        else
                        {
                            <input name="Name" type="text" class="form-control input-sm first" value="@data.Name" required="true" />
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否默认：</label>
                    <div class="col-sm-10">
                        <input name="IsDefaultByAdd" id="IsDefaultByAdd" type="checkbox" @checkedStr value="@data.IsDefaultByAdd" />
                        @*<label for="IsDefaultByAdd" title="指标新增默认选项">默认选项</label>*@<span class="redTipsForForm">空格选中、取消</span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="hidden">
                        <input name="Id" type="hidden" value="@data.Id" />
                        <input name="ModelTypeName" id="modelName" type="hidden" value="@viewModel.ModelTypeName" />
                    </div>
                    <div class="col-sm-12 text-center buttons">
                        <button type="button" class="btn btn-success u-btn" id="btnSave" data-url="@Url.Action("Save")">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            保存
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/Lib/iCheck/1.0.2/icheck.min.js"></script>
<script src="~/Areas/AdminManager/Scripts/basicDataSearch-edit.js"></script>
<script src="~/Areas/AdminManager/Scripts/basicData-commons.js"></script> 