@using JJsites.DomainModels
@model JJsites.ViewModels.Reports.LowerStatementSummaryReportDetailsViewModel
@{
    var amountSpecificationUnit = Model.AmountSpecificationUnit;
}

@if (Model.LowerStatementSummaryReport?.LowerStatementSummaryReportCategories != null)
{
    var units = Model.LowerStatementSummaryReport.LowerBudgetUnits ?? new List<BudgetUnit>();
    foreach (var category in Model.LowerStatementSummaryReport.LowerStatementSummaryReportCategories)
    {
        foreach (var reportItem in category.ReportItems)
        {
            <tr>
                <td>@reportItem.Id</td>
                <td>@Html.Raw(reportItem.FunctionSubject?.CustomedNumberAndNameWithHtmlSpaces)</td>
                <td style="text-align: right">@((reportItem.SubtotalAmount / amountSpecificationUnit).ToString("N"))</td>
                <td>@(reportItem.LowerStatementReport)</td>
                @foreach (var unit in units)
                {
                    <td style="text-align: right">@((reportItem[unit].SubtotalAmount / amountSpecificationUnit).ToString("N"))</td>
                }
            </tr>
        }
        <tr>
            <td></td>
            <td>@(category.MoneyNature.Name + "小计：")</td>
            <td style="text-align: right">@((category.SubtotalAmount / amountSpecificationUnit).ToString("N"))</td>
            <td></td>
            @foreach (var item in units)
            {
                <td></td>
            }
        </tr>
    }
    <tr>
        <td></td>
        <td>合计：</td>
        <td style="text-align: right">@((Model.LowerStatementSummaryReport.TotalAmount / amountSpecificationUnit).ToString("N"))</td>
        <td></td>
        @foreach (var item in units)
        {
            <td></td>
        }
    </tr>
}