@model JJsites.ViewModels.Reports.BudgetUnitReportDetailsViewModel
@{
    var amountSpecificationUnit = Model.AmountSpecificationUnit;
}

@if (Model.BudgetUnitReport?.BudgetUnitReportCategories != null)
{
    foreach (var category in Model.BudgetUnitReport.BudgetUnitReportCategories)
    {
        foreach (var reportItem in category.ReportItems)
        {
            <tr>
                <td>@reportItem.Id</td>
                <td>@Html.Raw(reportItem.FunctionSubject?.CustomedNumberAndNameWithHtmlSpaces)</td>
                <td>@(reportItem.Summary)</td>
                <td style="text-align: right">@((reportItem.TotalAmount / amountSpecificationUnit).ToString("N"))</td>
                <td>@(reportItem.IssueNumber)</td>
                <td>@(reportItem.OnPosted?.ToString("yyyy-MM-dd") ?? "")</td>
            </tr>
        }
        <tr>
            <td></td>
            <td>@(category.MoneyNature.Name + "小计：")</td>
            <td></td>
            <td style="text-align: right">@((category.SubtotalAmount/amountSpecificationUnit).ToString("N"))</td>
            <td></td>
            <td></td>
        </tr>

    }
    <tr>
        <td></td>
        <td>合计：</td>
        <td></td>
        <td style="text-align: right">@((Model.BudgetUnitReport.TotalAmount/amountSpecificationUnit).ToString("N"))</td>
        <td></td>
        <td></td>
    </tr>
}