@using JJsites.Configs
@using JJsites.DataTransferObjects.Reports
@using JJsites.DomainModels
@using JJsites.DomainModels.Reports
@using JJsoft.Infrastructure.Extensions
@model JJsites.ViewModels.Reports.LowerStatementSummaryReportDetailsViewModel
@{
    var lowerStatementSummaryReport = Model.LowerStatementSummaryReport ?? new LowerStatementSummaryReport();
    var lowerBudgetUnits = lowerStatementSummaryReport.LowerBudgetUnits ?? new List<BudgetUnit>();
}

<link href="~/Lib/JqueryEasyui/1.5.1/themes/default/easyui.css" rel="stylesheet" />
<link href="~/Areas/AdminManager/Content/report-index.css" rel="stylesheet"/>

<div class="container-fluid">
    <div class="CurrentPosition">
        <img src="~/Content/Images/icon_currentPosition.png" />
        当前位置：后台管理系统 > 下级对账单汇总报表
    </div>
    <div class="row clearfix conditional">
        <div class="form-search">
            <form class="search form-inline">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">预算单位：</label>
                            <div>
                                <select id="BudgetUnitId" class="easyui-combotree" data-url="@Url.Action("GetTreeBasicData", "BasicData", new {ModelTypeName = "BudgetUnit"})"></select>
                                <input type="hidden" class="hidden-ids" name="@nameof(GenerateReportDto.BudgetUnitIdsString)" value="" />
                            </div>
                        </div>
                        <ul class="SelectedCondition"></ul>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">功能科目：</label>
                            <div>
                                <select id="FunctionSubjectId" class="easyui-combotree" data-url="@Url.Action("GetTreeBasicData", "BasicData", new {ModelTypeName = "FunctionSubject"})"></select>
                                <input type="hidden" class="hidden-ids" name="@nameof(GenerateReportDto.FunctionSubjectIdsString)" value="" />
                            </div>
                        </div>
                        <ul class="SelectedCondition"></ul>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">经费来源：</label>
                            <div>
                                <select id="FundingSourcesId" class="easyui-combotree" data-url="@Url.Action("GetTreeBasicData", "BasicData", new {ModelTypeName = "FundingSources"})"></select>
                                <input type="hidden" class="hidden-ids" name="@nameof(GenerateReportDto.FundingSourcesIdsString)" value="" />
                            </div>
                        </div>
                        <ul class="SelectedCondition"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">开始时间：</label>
                            <div>
                                <input type="date" value="@(AppSettings.BudgetYear + "-01-01")" class="form-control input-sm" name="StartDatetime" id="StartDateTime" placeholder="开始时间...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">截止时间：</label>
                            <div>
                                <input type="date" value="@DateTime.Today.ToDateString()" class="form-control input-sm" name="EndDatetime" id="EndDateTime" placeholder="最后时间...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-sm" id="btnAdd" title="生成" onclick="ReportGenerate(this, '@Url.Action("GenerateReport")');">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                重新生成
                            </button>
                            @*<a class="btn btn-default btn-sm" href="@Url.Action("Export")">
                                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                导出
                            </a>*@
                            <button type="button" class="btn btn-default btn-sm" title="生成" onclick="exportExcel(this, '@Url.Action("Export")');">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                导出
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="bootstrap-table">
                <div class="fixed-table-toolbar"></div>
                <div class="fixed-table-container" style="padding-bottom: 0px;">
                    <div class="fixed-table-header">
                        <table class="table table-hover table-striped">
                            <tr>
                                <td>
                                    <div class="pull-right">
                                        <span>金额单位：@Model.AmountSpecification.GetDescription()</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="fixed-table-body">
                        <div class="fixed-table-loading" style="display: none; top: 41px;">正在努力地加载数据中，请稍候……</div>
                        <table id="tab" data-id-field="Id" data-resizable="true" data-filter-control="false" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <!--<th style="text-align: center; vertical-align: middle; width: 50px;" data-field="_id" tabindex="0">
                                        <div class="th-inner ">
                                            ID
                                        </div>
                                        <div class="fht-cell"></div>
                                    </th>-->
                                    <th style="text-align: center; vertical-align: middle;" data-field="NameWithHtmlSpaces" tabindex="0">
                                        <div class="th-inner">
                                            功能科目
                                        </div>
                                        <div class="fht-cell"></div>
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" data-field="NameWithHtmlSpaces" tabindex="0">
                                        <div class="th-inner">
                                            小计
                                        </div>
                                        <div class="fht-cell"></div>
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" data-field="NameWithHtmlSpaces" tabindex="0">
                                        <div class="th-inner">
                                            区本级
                                        </div>
                                        <div class="fht-cell"></div>
                                    </th>
                                    @foreach (var item in lowerBudgetUnits)
                                    {
                                        <th style="text-align: center; vertical-align: middle;" data-field="NameWithHtmlSpaces" tabindex="0">
                                            <div class="th-inner">
                                                @item.CustomedNumberAndName
                                            </div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <!--js加载-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

</div>


@section scripts{
    <script src="~/Lib/JqueryEasyui/1.5.1/jquery.easyui.min.js"></script>
    <script src="~/Areas/AdminManager/Scripts/report-index.js"></script>
}


<script type="text/javascript">

    function RefreshList() {
        var message = "<tr class='no-records-found'><td colspan='6'>正在加载数据</td></tr>";
        $("#tab tbody").html(message);

        var params = $('form.search').serializeArray();
        //var keyWords = $("input[name=Keywords]").val();
        var url ='@Url.Action("ListPartial")';
        $.post(url,
            params,
            function(response) {
                $("#tab tbody").html(response);
            },
            "html");
    }

    //$(document).keydown(function (event) {
    //    if (event.which == 13) {
    //        RefreshList();
    //        return false;
    //    }
    //});
</script>