@using JJsoft.Infrastructure.Extensions
@model JJsites.ViewModels.Reports.BudgetSourceReportDetailsViewModel
@{
    var amountSpecificationUnit = Model.AmountSpecificationUnit;
    var repots = Model.BudgetSourceReports;
}

@if (repots.Count > 0)
{
    foreach (var item in repots)
    {
        var isWriteUnit = false;
        foreach (var category in item.BudgetSourceReportCategories)
        {
            foreach (var reportItem in category.ReportItems)
            {
                <tr>
                    <!--<td>@reportItem.Id</td>-->
                    @if (!isWriteUnit)
                    {
                        <td>@(item.BudgetSource.CustomedNumberAndName)</td>
                        isWriteUnit = true;
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (reportItem.BeginningBudgetTargetId > 0)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@Html.Raw(reportItem.FunctionSubject?.CustomedNumberAndNameWithHtmlSpaces)</td>
                    }
                    <td style="text-align: right">@((reportItem.TotalAmount / amountSpecificationUnit).ToString("N"))</td>
                    <td>@(reportItem.Summary)</td>
                    <td style="text-align: right">@(reportItem.OnPosted.ToDateString())</td>
                </tr>
            }
            <tr>
                <!--<td></td>-->
                <td></td>
                <td>@(category.MoneyNature.Name + "小计：")</td>
                <td style="text-align: right">@((category.SubtotalAmount / amountSpecificationUnit).ToString("N"))</td>
                <td></td>
                <td></td>
            </tr>
        }
        <tr>
            <!--<td></td>-->
            <td></td>
            <td>合计：</td>
            <td style="text-align: right">@((item.TotalAmount / amountSpecificationUnit).ToString("N"))</td>
            <td></td>
            <td></td>
        </tr>
    }
}
else
{
    <tr class="no-records-found">
        <td colspan="6">没有找到匹配的记录</td>
    </tr>
}