@model JJsites.ViewModels.Reports.LowerStatementReportDetailsViewModel
@{
     var amountSpecificationUnit=Model.AmountSpecificationUnit;
}

@if (Model.LowerStatementReport?.LowerStatementReportCategories != null)
{
    foreach (var category in Model.LowerStatementReport.LowerStatementReportCategories)
    {
        foreach (var reportItem in category.ReportItems)
        {
            <tr>
                <td>@reportItem.Id</td>
                <td>@Html.Raw(reportItem.FunctionSubject?.CustomedNumberAndNameWithHtmlSpaces)</td>
                <td>@(reportItem.IssueNumber)</td>
                <td>@(reportItem.Summary)</td>
                <td>@(reportItem.OnPosted)</td>
                <td style="text-align: right">@((reportItem.TotalAmount / amountSpecificationUnit).ToString("N"))</td>
            </tr>
        }
        <tr>
            <td></td>
            <td>@(category.MoneyNature.Name+"小计：")</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right">@((category.SubtotalAmount / amountSpecificationUnit).ToString("N"))</td>
        </tr>

    }
    <tr>
        <td></td>
        <td>合计：</td>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right">@((Model.LowerStatementReport.TotalAmount / amountSpecificationUnit).ToString("N"))</td>
    </tr>
}