@using JJsites.DataTransferObjects
@using JJsites.ViewModels
@using JJsoft.Infrastructure.Extensions
@{
    ViewBag.Title = "年初预算指标编辑";
}

@section css{
    <link href="~/Lib/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="~/Lib/select2-extend.css" rel="stylesheet" />

    <link href="~/Lib/JqueryEasyui/1.5.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Lib/BootStrapTreeView/1.2.0/css/bootstrap-treeview.min.css" rel="stylesheet" />
    <link href="~/Areas/AdminManager/Content/budgetTarget-index.css" rel="stylesheet" />
}
<div class="container-fluid">
    <div class="CurrentPosition">
        <img src="~/Content/Images/icon_currentPosition.png" />
        当前位置：后台管理系统 > @ViewBag.Title
    </div>
    <div class="row clearfix conditional">
        <div class="form-search">
            <form class="search">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">预算单位：</label>
                            <div>
                                <select id="BudgetUnitId" class="easyui-combotree" data-url="@Url.Action("GetTreeBasicData","BasicData", new {ModelTypeName = "BudgetUnit"})"></select>
                                <input type="hidden" class="hidden-ids" name="budgetunitidsstring" value="" />
                            </div>
                        </div>
                        <ul class="SelectedCondition"></ul>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">资金性质：</label>
                            <div>
                                <select id="MoneyNatureId" class="easyui-combotree" data-url="@Url.Action("GetTreeBasicData","BasicData", new {ModelTypeName = "MoneyNature"})"></select>
                                <input type="hidden" class="hidden-ids" name="MoneyNatureIdsString" value="" />
                            </div>
                        </div>
                        <ul class="SelectedCondition"></ul>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">功能科目：</label>
                            <div>
                                <select id="FunctionSubjectId" class="easyui-combotree" data-url="@Url.Action("GetTreeBasicData","BasicData", new {ModelTypeName = "FunctionSubject"})"></select>
                                <input type="hidden" class="hidden-ids" name="FunctionSubjectIdsString" value="" />
                            </div>
                        </div>
                        <ul class="SelectedCondition"></ul>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">经费来源：</label>
                            <div>
                                <select id="FundingSourcesId" class="easyui-combotree" data-url="@Url.Action("GetTreeBasicData","BasicData", new {ModelTypeName = "FundingSources"})"></select>
                                <input type="hidden" class="hidden-ids" name="FundingSourcesIdsString" value="" />
                            </div>
                        </div>
                        <ul class="SelectedCondition"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">预算来源：</label>
                            <div>
                                <select id="BudgetSourceId" class="easyui-combotree" data-url="@Url.Action("GetTreeBasicData","BasicData", new {ModelTypeName = "BudgetSource"})"></select>
                                <input type="hidden" class="hidden-ids" name="BudgetSourceIdsString" value="" />
                            </div>
                        </div>
                        <ul class="SelectedCondition"></ul>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">管理科室：</label>
                            <div>
                                <select id="TargetManageDepartmentId" class="easyui-combotree" data-url="@Url.Action("GetTreeBasicData", "BasicData",new {ModelTypeName = "Department"})"></select>
                                <input type="hidden" class="hidden-ids" name="TargetManageDepartmentIdsString" value="" />
                            </div>
                        </div>
                        <ul class="SelectedCondition"></ul>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">开始时间：</label>
                            <div>
                                <input name="StartOnPosted" type="date" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">结束时间：</label>
                            <div>
                                <input name="EndOnPosted" type="date" value="@DateTime.Today.ToDateString()" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group col-md-4">
                            <div class="col-md-5">
                                <input type="text" class="form-control bk-radius col-md-5" name="@nameof(BeginningBudgetTargetSearchDto.StartBeginningTargetDocumentNumberIndex)" id="@nameof(BeginningBudgetTargetSearchDto.StartBeginningTargetDocumentNumberIndex)" placeholder="开始序号">
                            </div>
                            <span class="col-md-1">-</span>
                            <div class="col-md-5">
                                <input type="text" class="form-control bk-radius col-md-5" name="@nameof(BeginningBudgetTargetSearchDto.EndBeginningTargetDocumentNumberIndex)" id="@nameof(BeginningBudgetTargetSearchDto.EndBeginningTargetDocumentNumberIndex)" placeholder="结束序号">
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control bk-radius" name="Keywords" id="Keywords" placeholder="关键词...">
                            <span class="input-group-btn">
                                <button class="btn btn-info" id="btnSearch">
                                    <i class="fa fa-search"></i>
                                    搜索
                                </button>
                            </span>
                        </div>
                        <button type="button" class="btn btn-default btn-sm" id="btnClear"
                                title="清空">
                            <i class="fa fa-eraser" aria-hidden="true"></i>
                            清空
                        </button>
                        <button type="button" class="btn btn-default btn-sm" id="btnAdd"
                                title="新增指标" data-u-url="@Url.Action("Add")">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            新增
                        </button>
                        <button type="button" class="btn btn-default btn-sm" id="btnExport"
                                title="导出指标" data-u-url="@Url.Action("DoExport")">
                            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            导出
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <table data-url="@Url.Action("GetData")" id="tab"
                   data-id-field="Id"
                   data-resizable="true"
                   data-filter-control="false">
                <thead>
                    <tr>
                        <th data-sortable="false" data-field="_id" data-width="50"
                            data-align="center" data-halign="center" data-valign="middle">
                            行号
                        </th>
                        <th data-sortable="false" data-field="@nameof(BudgetTargetViewModel.Id)" data-visible="false" data-width="0"
                            data-align="center" data-halign="center" data-valign="middle">
                            Id
                        </th>
                        <th data-sortable="false" data-field="@nameof(BudgetTargetViewModel.IssueNumber)" data-width="50"
                            data-align="center" data-halign="center" data-valign="middle">
                            发文文号
                        </th>
                        <th data-sortable="false" data-field="@nameof(BudgetTargetViewModel.DocumentNumber)" data-width="50"
                            data-align="center" data-halign="center" data-valign="middle">
                            签发文号
                        </th>
                        <th data-sortable="true" data-field="@nameof(BudgetTargetViewModel.BudgetUnitCustomedNumberAndName)" data-width="180"
                            data-align="left" data-halign="center" data-valign="middle">
                            预算单位
                        </th>
                        <th data-sortable="true" data-field="@nameof(BudgetTargetViewModel.MoneyNatureName)" data-width="180"
                            data-align="left" data-halign="center" data-valign="middle">
                            资金性质
                        </th>
                        <th data-sortable="true" data-field="@nameof(BudgetTargetViewModel.FunctionSubjectCustomedNumberAndName)" data-width="180"
                            data-align="left" data-halign="center" data-valign="middle">
                            功能科目
                        </th>
                        <th data-sortable="true" data-field="@nameof(BudgetTargetViewModel.EconomicsSubjectCustomedNumberAndName)" data-width="180"
                            data-align="left" data-halign="center" data-valign="middle">
                            经济科目
                        </th>
                        <th data-sortable="true" data-field="@nameof(BudgetTargetViewModel.BudgetSourceName)" data-width="180"
                            data-align="left" data-halign="center" data-valign="middle">
                            预算来源
                        </th>
                        <th data-sortable="true" data-field="@nameof(BudgetTargetViewModel.TotalAmountInfo)" data-width="180"
                            data-align="right" data-halign="center" data-valign="middle">
                            金额
                        </th>
                        <th data-sortable="true" data-field="@nameof(BudgetTargetViewModel.Summary)" data-width="500"
                            data-formatter="summaryFormatter"
                            data-align="left" data-halign="center" data-valign="middle">
                            指标说明
                        </th>
                        <th data-sortable="true" data-field="@nameof(BudgetTargetViewModel.BusinessDepartmentName)" data-width="180"
                            data-align="left" data-halign="center" data-valign="middle">
                            业务归口科室
                        </th>
                        <th data-sortable="false" data-width="180" data-field="Id"
                            data-formatter="operateFormatter"
                            data-align="center" data-halign="center" data-valign="middle">
                            操作
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Lib/select2/4.0.3/js/select2.min.js"></script>
    <script src="~/Lib/select2/4.0.3/js/i18n/zh-CN.js"></script>
    <script src="~/Lib/JqueryEasyui/1.5.1/jquery.easyui.min.js"></script>

    <script src="~/Lib/jquery-validate-extend.js"></script>
    <script src="~/Areas/AdminManager/Scripts/beginningBudgetTarget-index.js"></script>
}