
@model List<JJsites.DomainModels.Reports.BudgetSourceSummaryReport>


    @if (Model.Count > 0)
    {
        foreach (var report in Model)
        {
            <tr>
                <td>@report.Id</td>
                <td>@(report.CreatedBy?.NickName)</td>
                <td>@(report.OnLastUpdated?.ToString("yyyy-MM-dd HH:mm:ss"))</td>
                <td>
                    @Html.ActionLink("详情", "Details", new RouteValueDictionary { { "Id", report.Id } }, new Dictionary<string, object> { { "target", "_self" } })
                    @*<a href="javascript:void(0)">导出</a>*@
                    @Html.ActionLink("导出", "Export", new { id = report.Id })
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="no-records-found">
            <td colspan="6">没有找到匹配的记录</td>
        </tr>
    }
