@using JJsites.DomainModels
@model BudgetTarget
@{
    var data = Model ?? new BudgetTarget();
}

@*<link href="~/Lib/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="~/Lib/select2-extend.css" rel="stylesheet" />

    <link href="~/Lib/JqueryEasyui/1.5.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Areas/AdminManager/Content/budgetTarget-edit.css" rel="stylesheet" />*@
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12">
            <div id="printContent">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">文号：</label>
                            <div class="col-sm-8">
                                <span>@data.DocumentNumber</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">管理文号：</label>
                            <div class="col-sm-8">
                                <span>@data.ManagementDocumentNumber</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">预算单位：</label>
                            <div class="col-sm-8">
                                @if (data.BudgetUnit != null)
                                {
                                    <span>@data.BudgetUnit.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">功能科目：</label>
                            <div class="col-sm-8">
                                @if (data.FunctionSubject != null)
                                {
                                    <span>@data.FunctionSubject.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">发文时间：</label>
                            <div class="col-sm-8">
                                <span>@data.OnPosted.ToString("yyyy-MM-dd")</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">指标管理科室：</label>
                            <div class="col-sm-8">
                                @if (data.TargetManageDepartment != null)
                                {
                                    <span>@data.TargetManageDepartment.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">金额：</label>
                            <div class="col-sm-8">
                                <span>@data.TotalAmount</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">已拨付：</label>
                            <div class="col-sm-8">
                                <span>@data.TotalAppropriated</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">余额：</label>
                            <div class="col-sm-8">
                                <span>@data.Balance</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">指标摘要：</label>
                    <div class="col-sm-10">
                        <span>@data.Summary</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">上级专款文号：</label>
                            <div class="col-sm-8">
                                <span>@data.HigherSpecialFundDocumentNumber</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">资金性质：</label>
                            <div class="col-sm-8">
                                @if (data.MoneyNature != null)
                                {
                                    <span>@data.MoneyNature.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">预算来源：</label>
                            <div class="col-sm-8">
                                @if (data.BudgetSource != null)
                                {
                                    <span>@data.BudgetSource.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">项目分类：</label>
                            <div class="col-sm-8">
                                @if (data.ProjectCategory != null)
                                {
                                    <span>@data.ProjectCategory.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">采购标志：</label>
                            <div class="col-sm-8">
                                @if (data.PurchaseMark != null)
                                {
                                    <span>@data.PurchaseMark.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">基建标志：</label>
                            <div class="col-sm-8">
                                @if (data.InfrastructureMark != null)
                                {
                                    <span>@data.InfrastructureMark.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">收支管理：</label>
                            <div class="col-sm-8">
                                @if (data.RevenueManagement != null)
                                {
                                    <span>@data.RevenueManagement.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">以收定支标志：</label>
                            <div class="col-sm-8">
                                @if (data.IncomePaymentMark != null)
                                {
                                    <span>@data.IncomePaymentMark.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">经济科目：</label>
                            <div class="col-sm-8">
                                @if (data.EconomicsSubject != null)
                                {
                                    <span>@data.EconomicsSubject.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-success u-btn" id="btnPrint">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        打印
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Lib/PrintArea2.4.0/jquery.PrintArea.js"></script>
@*<script src="~/Lib/JQPrint/jquery.jqprint-0.3.js"></script>
    <script src="~/Lib/JQPrint/browser.js"></script>*@
<script>
    $('#btnPrint').click(function () {
        $('#printContent').printArea();
    });
</script>